.card__like-button {
  width: 22px;
  height: 35px;
  background: transparent url('../../../images/like-inactive.svg') no-repeat;
  
  background-size: 21px 18px;
  background-position: top;
  font-size: 13px;
  line-height: 15.73.px;

  border: none;
  cursor: pointer;
  padding: 0;
  padding-top: 15px;
  margin: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.card__like-button:hover {
  opacity: 0.6;
}
